<settings>
	<servers>
		<server>
			<id>gpg.passphrase</id>
			<passphrase>mQINBGihGu8BEADDhlHwoAgBD8KvYTkweJ8+L9f83a+Tbsi2l7nCRNI0E0B1XXJu
				rW/5GZ70+ec31dDSdIjpXhkwb3V73X4Vd/h28kCycAtD6jrQ0KVUD4/QoaZ8aPUU
				EONHInDpfzZjMeQc3lwocuX1Aka0ZtxuZmDL6hd0s2FPZE4UmYJR+dEMzYn3/aZb
				uTGss3zC/B+04OZIPSVe5lhyE+nHZ+k85u2dONhketwFH0glR7xOjQkn8gnrof0O
				Jv6Ze1BGCi2+GCAevd3Fdj6JELkTJdcG8DkQTb/Ra81slisdo/p0gaAbbtPqIYvG
				vd/f+7rtXGwi4fGRrypS/8/ptiPri4aqSsE1wmyNHfNFCtotKpbvn9MgVd+sFUEH
				cPmJHniZnvsLCvyEy5PtKpfhN/wBkR3trCn4MvQ01NFFO/swcnQwJDYY0Lj//JHt
				s9u/tdvnDn0NPdNKcrxE8Oh29WI+RRMmZv6h5KbM+0FJPESkG0NMyGga3aWU8uzl
				6a9i5rYiZTsyYQ3ObQhSVK4xPTwH39iz2aYl7J3X+5qZ3+nqdCHDZbCf6DgKBUaS
				O27VT+y3GkcYmbfCQRRkRrF7ra06TYiM4EhKhxKhfDeExtX3kmnXcJa90vA38KNG
				egvM9MYSvDYWRjKDqxC7zmsvcIvoXd+uuFToehEEb2eeDy1zlIgYpRup+QARAQAB
				tC1XYXNzaW0gVGFocmFvdWkgPHdhc3NpbS50YWhyYW91aTg4QGdtYWlsLmNvbT6J
				AlEEEwEIADsWIQTSDR7OamCHG6866v5NSyN96zzLAAUCaKEa7wIbAwULCQgHAgIi
				AgYVCgkICwIEFgIDAQIeBwIXgAAKCRBNSyN96zzLABAnEACQ6Orn8zgIMlkEkxq3
				bTuOlPqIiAsn4o97qJGr41Ws5DJDG4gPlFsCBKsczU+k9D6EnVSZuY7zbVBe0uvt
				ueAX/R6yzek24OvGQgN4TusX1t92gTDC5Lu6WqnRDqnWpPwKMTnmahltPPDFcXCH
				b4aM0LyUIC8lq6LVev1B+dT0O6LnEiU/RyrBFurI6bIPu7hvKZItCyXmH++ZAe/H
				nlZCzo/UnG8ScVbF9t4rat3Ww0Ixb2bH7Rf0CgFDkOeR3f3SMdYG9764irxyqSMB
				ksEfMu05mbpiaBf8NsAqPxulraUQfOtKiv8hX0WJ3G/2RUlG3557/m4ibcrX6SJp
				mNYwNeaa8WRswExl1IRdUNtFXr+g7K4Qr5QutdS4qCeZ/BVNjQvHuDPWH5u8Wq69
				bIrOyAUPTyiB9nK41P5a8IqOx6sCerjFD3PS3jvKtTTrTiZm4H0wq40WSqnyLDW9
				zCibzRsleXXn8X9hdQXccC7A0DgNisp/2wp3NU3BFmPrdlJtv8yOqXRxe2coDgA6
				Hjypdiaqj81EvYX57XDOKVfXzx5R6JvtKbaO1a2OAdj3ZkpJJ/fxwCNpFmB+NpL5
				z9qJ7LL1EmgOXl2rYc6UbMQy9Mw8cfpm1cof38WQa6+0scgRMCIlZWLEEWOLHHH0
				IjqvXZCXDopgbMoElNdL9s77AbkCDQRooRrvARAAwJY0ewcnAjQDOwwOhPj7bhu6
				dA5OunbPngpDUawgH5WSVxaoUmkeD9i3VB7s91nm+SMwxzdBO0DyjwYduxc3o28q
				seeZxwrf23GZwyIJUPrOfr4eynleGFhN3gsVo5QvZEFr8WlDnJWrfX9embp5iJ8t
				C0OMjeGOl1gt+RgLo5cevizc3CoNVVHPXpk///ATMCPeXsCLYlhtfaP+lBASHe8R
				7QLFMYdSe/jIqpO8fUzPwPTbUUeEktY0SpRsGryebD3Hhz01IXeER8dQQvNBl4rQ
				JvTfapnOl1Obr3lyxuu8mngDoFGfi/qniPoXphyGUV1/cvJx4rv81PNH1vvhWvTZ
				5wwFJtwuFsTMIXOVOPb0+PphsnQ0s2LejeTbh2HhS0X8UAR29W+zyaV6ONEiiHsV
				OJItoQipuU6QbzAz64lnWSPKmlXOktYwgON1jXhVCW1Z7y9widSTymfq6OFyO0fc
				2enFtf/dr0+FFh5NgE8NIMohgrG18EFLAByTnv/RMoEuPhtKRaekmvXjmVxxNF3j
				kXqI/B9ju9Oj+rPhmLvhI3tS1d515Gu5rm2UPQOmTzybdUf2l5GoG016Gysa+0w6
				UZ/FYMYGIPeGAr9Hr+YmhKlfF74pkgwvNqrbPSaNTagu9DQukoRUxWXEJ/1JbMX+
				4gOWm21+adz4u+I2kn0AEQEAAYkCNgQYAQgAIBYhBNINHs5qYIcbrzrq/k1LI33r
				PMsABQJooRrvAhsMAAoJEE1LI33rPMsAp2EQAKv1k4pFnRsf0JQ8RIbukWz+nuX1
				ULTzFMcV7OsuTzbaK6RCpu0KA8M6v2ifF9oc38Qt7GfZw69vPBqJtugREPPwQv/y
				b6IQMxsr/KaIVlfaCgWdz6eXKdEgSJnWstLWgqQo9YcGqMJNhw/J3jpCkiJzUDGl
				R8PEFO8cY7sKFhFIPJ5n4/d6Ch31QDkGNI/OXeOMCB6Uk4A7hKGJ+myfDd5OWiBw
				jUxi3nf2KUMZac+pQZ2DKnrDc1nN+t1gATa1VdACjVn3yIQy3WxhbFUO11cBbTJI
				1Bf4NvOpPMtvbeP4iLR1KieeVJ2LW2CsS6hp6d1t1BfMHZRQaWpegsbgUYx9CbyO
				hLFiS40fWfILPw7lK9D9Jdl5k9t0j/FT7/4atIkljurwaUvsvzr3k+kFa7VsZ7ZA
				2Th2WpX94v4Py6DpPSx0s3c6uSRsRXYQSxhRbv/S8e98iQLvVydaRvYEXH7VWb/4
				bcq05hNsBlEAAsbj1OaTgw/SJcy8F8jiRPKP8dIimVRMW2Dwk/hNL39Jv9L+p1Zo
				fVqKARSmz+zMcId8UUEAR0vTEEPRYhFGEPJWpiVZR6CRHMYJFVrO+Btcly0xYKN0
				xt0P1yC+wLteMFjs11rppMrLG2H1qTNMRp23XCivyBc+nwvLU7xDNIlpzoZC2bPQ
				Ku4wsTciNaVPODXx
				=h0y8</passphrase>
		</server>
		<server>
			<id>ossrh</id>
			<username>9ybV16</username>
			<password>UoSD1FLE5tq6EAXoAory6ePjTFRDfk9z7</password>
		</server>

	</servers>
</settings>